<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mariko Kosaka - Projects:{{name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    {{#css}}
      <link href="{{path}}.css" rel="stylesheet">
    {{/css}}
  </head>
  <body>
  <div id="main"></div>
    <!--[if lt IE 10]>
      <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{#js}}
      <script src="{{path}}.js"></script>
    {{/js}}
  </body>
</html>


