<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>Mariko Kosaka - Notes</title>
    <meta name="description" content="The portfolio of Mariko Kosaka." />
    <meta name="author" content="Mariko Kosaka" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {{#css}}
      <link href="{{path}}.css" rel="stylesheet">
    {{/css}}
  </head>

  <body>
  {{> topbar}}
  <div id="main">
  <h1>Notes</h1>
  <!--
  <section class="note">
    <aside class="note-meta">MM-DD-YYYY/Category</aside>
    <a href="!!!LINK HERE!!!">
      <h2 class="note-title">title</h2>
    </a>
    <img src="/img/___" width="200" class="note-thumbnail">
    <p class="note-desc">
      description
      <a href="!!!LINK HERE!!!">[...]</a>
    </p>
  </section>
  -->


  <section class="note">
    <aside class="note-meta">06-27-2018 / coding</aside>
    <a href="./notes/know-your-file-input">
      <h2 class="note-title">Know Your File Input - It always starts with messy code (part 1)</h2>
    </a>
    <p class="note-desc">
      Over the weekend, I wrote a small web app called Knitlify. It was a seemingly simple app, but it tuned out to be lots of learning experience. In other words, I thought I can glue together bits and pieces of code from my old projects and be done in a few hours (LOL, no). In reality, I discovered things I didn't know and learned some of the code I've been writing was not good.
      <a href="./notes/know-your-file-input">[...]</a>
    </p>
  </section>

  <section class="note">
    <aside class="note-meta">12-22-2017/ misc</aside>
    <a href="./notes/blur-the-line">
      <h2 class="note-title">Blur the Line</h2>
    </a>
    <p class="note-desc">
      On "tech" and "non-tech" discussion, and how it's a toxic lie.<br>"I accidentally became a programmer" I often use above sentence to describe how I end up in my day job - a web application programmer. It sounds like a joke, but it's mostly true. I never tried to be a programmer.
      <a href="./notes/blur-the-line">[...]</a>
    </p>
  </section>

  <section class="note">
    <aside class="note-meta">04-03-2017 / misc</aside>
    <a href="./notes/new-adventure">
      <h2 class="note-title">Start of a New Adventure</h2>
    </a>
    <p class="note-desc">
      It's been two years since the weekend tried to use JavaScript to knit. The combination was natural, I wanted to program my knitting machine and I was a JavaScript developer. This little silly side project turned out to be a much bigger thing than I ever expected. <a href="./notes/new-adventure">[...]</a>
    </p>
  </section>
  <section class="note">
    <aside class="note-meta">2017-01-26 / coding</aside>
    <a href="./notes/the-promise-of-a-burger-party">
      <h2 class="note-title">The Promise of a Burger Party</h2>
    </a>
    <img src="https://cloud.githubusercontent.com/assets/4581495/22322821/a770251c-e36c-11e6-9361-021ee20bbb9d.png" width="200" class="note-thumbnail">
    <p class="note-desc">
      Can you explain the sentence "It returns a promise" to someone? well I couldn't.<br><br>
      Even though I've written plenty of promise code, the question made me realize how little I understand about it. So here is an illustrated guide to JavaScript Promise.
      <a href="./notes/the-promise-of-a-burger-party">[...]</a>
    </p>
  </section>

  <section class="note">
    <aside class="note-meta">2017-01-17 / misc</aside>
    <a href="./notes/how-to-say-sorry">
      <h2 class="note-title">How to say "I'm sorry" - steps to resolve conflicts</h2>
    </a>
    <img src="https://cloud.githubusercontent.com/assets/4581495/22008303/f1dc3554-dc47-11e6-9e9b-f3c5a93f2ae3.jpg" width="200" class="note-thumbnail">
    <p class="note-desc">
      <p>This post is about how I approach resolving conflicts. If you like it, maybe use it. If you don't, then don't :)<br><br>Think about when you have opposing opinion or uncomfortable feeling with what someone said or did. You might first think "Wait, seriously ?" then the feeing soon turn into "OMG I can't believe they said or did that"<a href="./notes/how-to-say-sorry">[...]</a>
    </p>
  </section>

  <section class="note">
    <aside class="note-meta">2017-01-09 / coding</aside>
    <a href="./notes/but-why-cant-i-code-like-that">
      <h2 class="note-title">But why can't I code like that?</h2>
    </a>
    <p class="note-desc">
      <b>Oldies JavaScript I grew up with...which I didn't know WHY it's not hip anymore.</b> <br>Why should ".onEVENT" be written in "addEventListener('EVENT')" ? and Why should I pass function, not code string, to "setInterval" and "setTimeout" ?
      <a href="./notes/but-why-cant-i-code-like-that">[...]</a>
    </p>
  </section>

  <section class="note">
    <aside class="note-meta">2016-12-01 / coding</aside>
    <a href="./notes/Service-Worker-what-are-you">
      <h2 class="note-title">Service Worker, what are you ?</h2>
    </a>
    <img src="https://cloud.githubusercontent.com/assets/4581495/20799990/e28950d8-b7b1-11e6-8259-af58e2b348ec.png" width="200" class="note-thumbnail">
    <p class="note-desc">
      <p><em>me : &quot;Service Worker, what are you?&quot;</em><br>
      <em>Service Worker: &quot;I'm a programmable network proxy.&quot;</em><br>
      <em>me : &quot;... what?&quot;</em><br><br>
      Join me in my illustrated guide to Service Worker, the alien you can summon in your browser.
      <a href="./notes/Service-Worker-what-are-you">[...]</a>
    </p>
  </section>

  <section class="note">
    <aside class="note-meta">2015-08-15 / coding</aside>
    <a href="./notes/Turn-Your-Gist-To-Html">
      <h2 class="note-title">Turn Your Gist To HTML</h2>
    </a>
    <p class="note-desc">
      TL;DR; I needed a blog & solved it in wee bit tedious but simple way. Lately, I've been doing a lot of side projects & talks. While I tweet most of my progress and research, when I finish a project, people ask if I documented the process somewhere.
      <a href="./notes/Turn-Your-Gist-To-Html">[...]</a>
    </p>
  </section>

  <section class="note">
    <aside class="note-meta">2014-09-02 / coding</aside>
    <a href="./notes/make-apps-with-node-webkit">
      <h2 class="note-title">You can use your front-end chops to build desktop app!</h2>
    </a>
    <img src="https://cloud.githubusercontent.com/assets/4581495/9289291/e8a8972e-4338-11e5-8817-04cf41e4042b.gif" width="200" class="note-thumbnail">
    <p class="note-desc">
      Last weekend, I spent one night to build an desktop application with Node.js using node-webkit module. I did not anticipated to be done in one night, it was originally planned to be a weekend(s) project — but I got done in quarter of time
      <a href="./notes/make-apps-with-node-webkit">[...]</a>
    </p>
  </section>
  <section class="note">
    <aside class="note-meta">2013-09-26 / misc</aside>
    <a href="./notes/an-introverts-guide-to-networking">
      <h2 class="note-title">An Introvert's Guide to Networking</h2>
    </a>
    <p class="note-desc">
      I recently graduated from Startup Institute New York — where I was encouraged to get out and attend events and coffee chats for “networking”.
      As an INTP (MBTI personality) person. This “get out and talk to people” assignment was intimidating at first, and I needed to develop my strategy to keep my sanity…here are few things I did.
      <a href="./notes/an-introverts-guide-to-networking">[...]</a>
    </p>
  </section>

  </div>
  <footer>
    <p>
      {{> copy}}
    </p>
  </footer>
  {{> ga}}
  </body>
</html>
