<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>Mariko Kosaka - about me</title>
    <meta name="description" content="The portfolio of Mariko Kosaka." />
    <meta name="author" content="Mariko Kosaka" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {{#css}}
      <link href="{{path}}.css" rel="stylesheet">
    {{/css}}
  </head>

  <body>
  {{> topbar}}
  <div id="main">
  <div id="head">
    <h1>Mariko Kosaka</h1>
  </div>

  <h2>About</h2>
    <h4>current</h4>
    <p>
      I am currently writing Javascript at <a href="http://www.scripto.cc/" target="blank">Scripto</a>, a company that makes modern television writing and production application.
    </p>
    <h4>past</h4>
    <p>
      Previously, I worked as an Internal Tool Engineer at <a href="http://percolate.com/" target="blank">Percolate</a>. I made dev tools, automation script, and data visualizations.
    </p>
    <p>
      Before that, I was a developer at <a href="http://www.liveintent.com" target="blank">LiveIntent</a> Labs.
    </p>
    <p>
      I spent first few years of my career as a project manager at video application startup. I managed various UGC marketing campaigns.
    </p>
    <h4>extra</h4>
    <p>
      When I am not coding, I enjoy good dose of <a href="http://vimeo.com/25464537" target="blank">3D printing</a> (have you seen <a href="http://www.makerbot.com/blog/2011/08/16/makerbot-sends-colbert-into-space/" target="blank">Stephen Colbert into Space</a> video?)<br>
      hack 80s knitting machine and cook delicious food.
    </p>
  <h2>Projects</h2>
    <p>
      You can check out things I've been working on <a href="http://kosamari.com/projects">my projects page</a>.
    </p>
  <h2>Speak</h2>
  <h4><a href="http://2015.jsconf.us/">JSConf US</a></h4>
    <p>
        May 2015: Knitting for Javascripters<br>
        I finally got live demo working at JSConf !
        <a href=" http://kosamari.com/presentation/jsconf-2015" target="blank">(slide)</a>
    </p>
    <h4><a href="http://empirejs.org/">Empire JS</a></h4>
    <p>
        Apr 27, 2015: Needle in a TechStack - Knitting for Javascripters
        <a href="http://kosamari.com/presentation/empire-js-2015" target="blank">(slide)</a>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nydh_2NRn-c" frameborder="0" allowfullscreen></iframe>
    <h4><a href="http://empirenode.org/">Empire Node</a></h4>
    <p>
        Oct 27, 2014: A tiny system for Big screens
        <a href="http://kosamari.com/presentation/empire-node" target="blank">(slide)</a>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Cpyu85XDqp0" frameborder="0" allowfullscreen></iframe>
    <br>
    <h4>Women Who Code NYC</h4>
    <p>
      Nov 4, 2014 : Desktopify Your Web Chops
    </p>
    <h4>Brooklyn JS</h4>
    <p>
      Oct 16, 2014 : Desktopify Your Web Chops
    </p>

  <h2>Write</h2>
    <h4><a href="https://medium.com/@kosamari/you-can-use-your-front-end-chops-to-build-desktop-app-e1467412d8f0" target="blank">You can use your front-end chops to build desktop app!</a></h4>
    <p>
      Why node-webkit is so awesome
    </p>
    <h4><a href="https://medium.com/@kosamari/an-introverts-guide-to-startup-networking-a3569f1aaac0" target="blank"> An Introvert’s Guide To Startup Networking </a></h4>
    <p>
      How I tackled networking problem as introverts.
    </p>

  <h2>Organize</h2>
    <h4>BrooklynJS</h4>
    <p>
      Monthly JavaScript Meetup. The world's most popular programming language, in New York's most popular borough.<br>
      Co-Organizer. <a href="http://brooklynjs.com/" target="blank">Website <i class="fa fa-external-link"></i></a>
    </p>
    <h4>EcoHack</h4>
    <p>
      Hackathon focused on using technology to improve and better understand our natural environment.<br>
      New York Co-Organizer. <a href="http://ecohack.org/" target="blank">Website <i class="fa fa-external-link"></i></a>
    </p>
    <h4>Re3 StoryHack</h4>
    <p>
      A justice-oriented storytelling hackathon.<br>
      Co-Organizer. <a href="http://re3storyhack.org/" target="blank">Website <i class="fa fa-external-link"></i></a>
    </p>
    <h4>NY Enterprise Technology Meetup</h4>
    <p>
      Monthly meetup to foster innovation in the NY enterprise technology ecosystem.<br>
      Volunteer. <a href="http://nyetm.com/" target="blank">Website <i class="fa fa-external-link"></i></a>
    </p>
  </div>
  <footer>
    <p>
      {{> copy}}
    </p>
  </footer>
  {{> ga}}
  </body>
</html>
