<div id="side">
    <ul>
      <li><a href="/"><img src="/img/head_icon.png" id="head-icon"></a></li>
      <li><a href="/projects" class="project-icon"><i class="fa fa-code"></i></a></li>
      <li><a href="/notes"><i class="fa fa-pencil"></i></a></li>
      <br>
      <li><a href="https://github.com/kosamari" target="blank"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="https://twitter.com/kosamari" target="blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/kosamari" target="blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>