<div id="top">
  <div id="image"><a href="/"><img src="/img/head_icon.png" id="head-icon"></a></div>
  <div id="menu">
    <a class="menuitem" href="/projects" class="project-icon"><i class="fa fa-code"></i>
    <small class='caption'>projects</small>
    </a>
    <a class="menuitem" href="/notes"><i class="fa fa-pencil"></i>
    <small class='caption'>blog</small>
    </a>
    <a class="menuitem" href="https://github.com/kosamari" target="blank"><i class="fa fa-github-alt"></i>
    <small class='caption'>github</small>
    </a>
    <a href="https://twitter.com/kosamari" target="blank" class="menuitem"><i class="fa fa-twitter"></i>
    <small class='caption'>twitter</small>
    </a>
  </div>
</div>