article{
  margin-top: 40px;
  max-width: 800px;
  h1{
    font-size: 36px;
    margin-top:0px;
  }
  h2{
    font-size: 24px;
    margin-top: 40px;
  }
  h3{
    font-size: 20px;
    margin-top: 10px;
  }
  h4{
    font-size: 18px;
    margin-bottom: 10px;
  }
  p{
    font-size:18px;
    line-height:1.6em;
    padding:10px 0px;
  }
  blockquote{
    margin: 16px;
    padding:0 15px;
    color: #666;
    border-left:4px solid #ddd;
  }
  code{
    font-size: 14px;
  }
  time{
    font-size: 14px;
    padding-top: 25px;
    margin-bottom:10px;
  }
}