body {
  font-family: "PT Serif", serif;
  margin: 0;
  background-color: #FEFEFE;
  color: #333333; }

#top {
  background-image: url("/img/slash_full.gif");
  width: 120px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px 0 white;
  padding-top: 50px;
  font-size: 20px; }
  #top .caption {
    padding-left: 5px; }
  #top .menuitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; }
  #top #image {
    padding-bottom: 30px; }
  #top a {
    color: #333333; }
    #top a :hover {
      color: #9266CC; }

#head-icon {
  width: 100px; }

#main {
  padding: 0 40px;
  overflow: scroll;
  margin-left: 100px;
  margin-top: 50px;
  max-width: 800px; }

h1 {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 36px; }

h2 {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 24px;
  margin-top: 50px; }

h3 {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 24px;
  margin-top: 10px; }

h4 {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 0px; }

p {
  margin: 0px 0px 10px 0px;
  font-size: 16px; }

a {
  text-decoration: none;
  color: #9266CC; }
  a :hover {
    text-decoration: underline; }

footer {
  padding: 30px 40px;
  margin-left: 100px; }

.note-thumbnail {
  float: left;
  margin-right: 20px; }

.note-desc {
  font-size: 16px;
  line-height: 1.6em; }

.note-title {
  margin-top: 0px;
  color: #333333; }

.note-meta {
  font-size: 14px; }

.note {
  padding-bottom: 50px;
  clear: both; }

@media screen and (max-width: 700px) {
  #main {
    padding: 0px 20px;
    margin-left: 0px;
    margin-top: 80px; }
  #head-icon {
    width: 60px; }
  #top {
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    flex-direction: row;
    justify-content: space-between; }
    #top #image {
      padding-bottom: 0px; }
    #top #menu {
      padding: 0px 10px;
      display: flex;
      flex-direction: row;
      align-items: center; }
    #top .menuitem {
      margin-bottom: 0px;
      font-size: 25px;
      margin-right: 20px; }
    #top .caption {
      display: none; } }
