article {
  margin-top: 40px;
  max-width: 800px; }
  article h1 {
    font-size: 36px;
    margin-top: 0px; }
  article h2 {
    font-size: 24px;
    margin-top: 40px; }
  article h3 {
    font-size: 20px;
    margin-top: 10px; }
  article h4 {
    font-size: 18px;
    margin-bottom: 10px; }
  article p {
    font-size: 16px;
    line-height: 1.6em;
    font-family: "PT Serif", serif; }
  article blockquote {
    font-family: "PT Serif", serif;
    margin: 16px;
    padding: 0 15px;
    color: #666;
    border-left: 4px solid #ddd; }
  article code {
    font-size: 14px; }
  article time {
    font-size: 14px;
    padding-top: 25px;
    margin-bottom: 10px; }
